.container {
    border: 5px solid #ffcc5c;
    display:flex;
    height:100%;
    align-items: center;
    /*
    flex-start - alinia al top
    flex-end - alinia la bottom
    center - alinia al centre (alçada)
    */
  }
  
  .logout {
    align-self: flex-start;
  }
  
  .home {
    align-self: flex-end;
  }