main {
    display: grid;
    height: 100vh;
    grid-gap:10px;
    font-family: sans-serif;
    grid-template-columns: 
        /* 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr = repeat(8, 1fr) */ 
        /* 8 columnas con un minimo y un maximo (limite)*/
        /* repeat(8, minmax(50px, 1fr)) */
        /* 8 columnas con un patron dos (30px y minimo 10% maximo flexible)*/
        /*repeat(4, 30px minmax(10%, 1fr))*/
        /* 8 columnas con un minimo marcado por el contenido y un maximo del 30%*/
        /*repeat(8, minmax(min-content, 30%))*/
        /* 8 columnas con un minimo y un maximo marcado por su contenido*/
        repeat(8, minmax(min-content, max-content))

    ;
}

div {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
}