main {
    display: grid;
    height: 100vh;
    grid-gap:10px;
    font-family: sans-serif;
    grid-template-columns: 
        [start]
        repeat(4, 
            [col-lg-start] minmax(80px, 1fr)
            [col-lg-end col-md-start] minmax(40px, 1fr)    
            [col-md-end col-sm-start] minmax(20px, 1fr)    
        )
        [end]

    ;
   

}

div {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
}

div:first-of-type{
    background-color: purple;
    color:white;
    grid-column: col-lg-start / col-md-end;
}